@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using DataProcessingWebAPI.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Dataprocessing API Help page";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                This API is built for Dataprocessing.
            </p>
            <p>
                It contains data from the 3 datasets listed below.
                <ul>
                    <li><a href="https://data.overheid.nl/dataset/47299-alcohol-en-drugs--geslacht-en-herkomst--2003-2011">Alcohol En Drugs</a> via data.overheid.nl</li>
                    <li><a href="https://data.overheid.nl/dataset/54386-werkzame-beroepsbevolking--creatieve-beroepen--2001-2011">Werkzame Beroepsbevolking</a> via data.overheid.nl</li>
                    <li><a href="https://data.overheid.nl/dataset/56198-doorstroom-van-vo-naar-mbo-naar-persoonskenmerken-2004-2011">Doorstroom Van VO Naar MBO Naar Persoonskenmerken</a> via data.overheid.nl</li>
                </ul>
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
